.title {
    line-height: 36px;
    color: rgb(136, 136, 136);
    font-size: 16px;
    border-bottom: 1px solid rgb(246, 246, 246);
    justify-content: flex-start;
    display: flex;
    background-image: linear-gradient(to right, #33a3f4 , #bee4ff);
    color: #fff;
    padding: 0 15px;
 }
 .img {
    height: 80px;
    margin-bottom: 30px;
    margin-right: 15px;
    width: 30%;
    object-fit: cover;
    border-radius: 4px;
    box-shadow: 2px 4px 4px #838282;
 }
 .content {
    display: flex;
    padding: 15px 15px;
    font-size: 14px;
 }
 .contentRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start ;
    width: 60%;
    text-align: left;
 }
 .contentLine {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
 }
 .buttonLine {
    justify-content: flex-end;
    margin-top: 10px;
 }
 .button {
   background-image: linear-gradient(to right, #03eb35 , #168b01);
   width: 80px;
    height: 28px;
    line-height: 28px;
    border-radius: 6px;
    text-align: center;
    color: #fff;
 }
 .price {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     width: 100%;
 }

.container {
   background-color: #fff;
}

.description {
   text-overflow: -o-ellipsis-lastline;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   line-clamp: 2;
   -webkit-box-orient: vertical;
   margin-bottom: 4px;
}