
.container { 
   min-height: calc(100vh);
   background-color: #f5f5f5;
}

.content {
   padding: 10px 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.iamge img {
   width:  calc(100vw - 24px);
   height: 150px;
}
.button {
   background-color:#299903;
   width: 120px;
   height: 40px;
   line-height: 40px;
   border-radius: 10px;
   text-align: center;
   color: #fff;
}
.redButton {
   background-color:#ff0101;
   width: 120px;
   height: 40px;
   line-height: 40px;
   border-radius: 10px;
   text-align: center;
   color: #fff;
}
.buttonLine {
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-top: 10px;
}
.detail {
   width: 100%;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   border-bottom: 1px solid #d5d5d5;
   padding-bottom: 10px;
}
.title {
   font-size: 16px;
   color: #333;
   margin-top: 8px;
}
.title1 {
   margin-top: 4px;
   font-size: 13px;
   color: #666;
}
.users {
   padding: 6px 0;
   flex-flow: wrap;
   display: flex;
}
.users span {
   color: rgb(45, 111, 255);
   font-size: 13px;
   margin-right: 4px;
}