
.container { 
   min-height: calc(100vh);
   background-color: #f5f5f5;

}
.header {
   padding: 12px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}
.portrait img {
   width: 40px;
   height: 40px;
   margin-right: 10px;
}
.username {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   color: #333;
   font-size: 18px;
}
.phone {
   color: #999;
   font-size: 13px;
}
.content{
   border-top: 1px solid rgb(211, 211, 211);
   margin-top: 12px;
   font-size: 14px;
}
.line {
   background-color: #fff;
   height: 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 0 12px;
   border-bottom: 1px solid rgb(211, 211, 211);
}
.num {
  
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}
.num span {
   width: 20px;
   height: 20px;
   line-height: 20px;
   border-radius: 15px;
   background-color: rgb(255, 94, 94);
   color: #fff;
   font-size: 10px;
}